.CardSeachBar{
 padding: 10px;   
 display: flex;
 justify-content: center;
 align-items: center;

}
.SearchBar input{
    border: 1.5px solid var(--slate-500);
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
    width: 300px;

}