.body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg-main);
}

.body .container {
    background-color: inherit;

    height: 100%;
    width: 100%;
}

.body .container .background {
    display: none;
}

.body .container .cardform {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 60% 20%;
}

.body .container .cardform .logo {
    text-align: center;

}

.body .container .cardform .form {

    display: grid;
    grid-template-rows: 30% 25% 25% 10% 10%;
    row-gap: 20px;
}

.body .container .cardform .form .controller {

    width: 90%;

    margin-left: auto;
    margin-right: auto;

}

.body .container .cardform .form .controller h1 {
    color: var(--color-text-primary);
    font-size: 35pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;


}

.body .container .cardform .form .controller small {
    color: var(--color-text-secondary);
    text-align: center;
    display: block;

}

.body .container .cardform .form .controller label {
    display: block;
    font-size: 15pt;



}

.body .container .cardform .form .controller input {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: 1px solid #d3d3d3;
    font-size: 15pt;
    padding-left: 10px;
    margin-top: 10px;
    color: var(--color-text-secondary);
    outline: none;
    transition: all .2s ease-in-out;

}

.body .container .cardform .form .controller p {
    text-align: center;
    background-color:   var(--warning);
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

.body .container .cardform .form .controller input:focus {
    border: 1px solid var(--color-primary-dark);
    box-shadow: 0px 0px 5px #ffff;

}

.body .container .cardform .form .controller button {
    cursor: pointer;
}

.body .container .cardform .form .controller button[type="submit"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--color-primary-dark);
    font-size: 15pt;
    color: #ffffff;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px;
}

.body .container .cardform .form .controller button[type="button"] {
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15pt;
    color: var(--color-text-primary);
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;

}

.body .container .cardform .footer {
    text-align: center;
    color: #7a7a7a;

}

.body .container .cardform .footer a {
    text-decoration: none;
    color: #7a7a7a;
}

.body .container .cardform .footer a:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;

}

@media screen and (min-width:764px) {
    .body {
        background-color: var(--color-bg-bg);
    }

    .body .container {
        background-color: #fff;
        min-width: 700px;
        min-height: 500px;
        max-width: 900px;
        max-height: 700px;
        box-shadow: 0px 0px 30px var(--color-border-light);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 10px;

    }

    .body .container .background {
        display: grid;
        grid-template-rows: 50% 50%;
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(../../../public/bannerlogin.png);
        border-radius: 20px;
        padding: 10px;
        color: #fff;
    }

    .body .container .background .header {}

    .body .container .background .header p::after {
        content: "";
        width: 50px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        background-color: rgb(255, 255, 255);

    }

    .body .container .background .header p {
        position: relative;
    }

    .body .container .background .footer {
        align-content: end;
        padding-bottom: 20px;
        padding-left: 10px;

    }

    .body .container .background .footer h1 {}

    .body .container .cardform {
        float: right;
        width: 50%;
        height: 100%;
    }

    .body .container .cardform .logo {}

    .body .container .cardform .form {}

    .body .container .cardform .form .controller {}

    .body .container .cardform .form .controller h1 {}

    .body .container .cardform .form .controller small {}

    .body .container .cardform .form .controller label {}

    .body .container .cardform .form .controller input {}

    .body .container .cardform .form .controller input:focus {}

    .body .container .cardform .form .controller button[type="submit"] {}

    .body .container .cardform .form .controller button[type="button"] {}

    .body .container .cardform .footer {
        margin-top: 100px;
    }

    .body .container .cardform .footer a {}

    .body .container .cardform .footer a:hover {}


}