:root {
    --fundo: #f5f6f7;
    --box: #ffff;
    --text-main: #1f2933;
    --text-secondary: #6b7280;
    --btn-main: #374151;
    --btn-main-hover: #111827;
    --success:#4b5563;
    --error:#7f1d1d;

}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}
