{% load static %}
<!DOCTYPE html>
<html lang="pt-ao">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'images/logoVotaAki.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'libs/bootstrap-5.3.3-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'libs/@mdi/css/materialdesignicons.css'%}">
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    {%block titleheader%}
    <title></title>
    {%endblock%}
    {% block configuracoes_head%}

    {%endblock%}
</head>

<body>
    {% block header%}
   
    {%endblock%}
    {%block body%}
    {%endblock%}


</body>

</html>